body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
  background-color: hsl(206, 94%, 87%);
}

header {
  position: relative;
  width: 520px;
}

input[type=radio] {
  opacity: 0;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  position: absolute;
  top: 1.8rem;
  left: 4rem;
}
.steps div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border: solid 1px hsl(0, 0%, 100%);
  border-radius: 100%;
}
.steps div p {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.formContainer {
  position: absolute;
  top: 5.2rem;
  left: 0;
  right: 0;
  padding: 1rem;
}
.formContainer form {
  min-width: 2.8rem;
  max-width: 52rem;
  height: 44rem;
  min-height: 28rem;
  max-height: 58rem;
  padding: 1.6rem;
  margin-bottom: 8rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
}
.formContainer form .formContainer__stepOne {
  display: none;
}
.formContainer form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 1rem;
}
.formContainer form label span {
  font-size: 1rem;
}
.formContainer form label input {
  padding: 0.5rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: solid 0.1rem hsl(229, 24%, 87%);
  color: hsl(231, 11%, 63%);
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
}
.formContainer form .formContainer__stepTwo {
  display: none;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__plan {
  display: flex;
  margin-block-end: 1.2rem;
  padding: 1rem;
  border: solid 0.1rem hsl(229, 24%, 87%);
  border-radius: 0.6rem;
  cursor: pointer;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__plan .formContainer__stepTwo__plan--info {
  display: flex;
  flex-direction: column;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__plan .formContainer__stepTwo__plan--info label {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(213, 96%, 18%);
  margin-bottom: 0;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__plan .formContainer__stepTwo__plan--info span {
  display: block;
  margin-bottom: 0.5rem;
  color: hsl(229, 24%, 87%);
  font-weight: bold;
  font-size: 1.2rem;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__plan .formContainer__stepTwo__plan--info p {
  margin: 0;
  color: hsl(213, 96%, 18%);
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(206, 94%, 87%);
  border-radius: 1rem;
  /* Hide default HTML checkbox */
  /* The slider */
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check p {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  align-self: center;
  margin-block-start: 0.8rem;
  width: 3.5em;
  height: 2em;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  transition: 0.4s;
  border-radius: 10px;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .switch input:checked + .slider {
  background-color: hsl(243, 100%, 62%);
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.formContainer form .formContainer__stepTwo .formContainer__stepTwo__check .switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
.formContainer form .formContainer_stepThree {
  display: none;
}
.formContainer form .formContainer_stepThree .formContainer_stepThree__options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 90%;
  min-width: 12.8rem;
  max-width: 40rem;
  min-height: 2.6rem;
  margin-block-end: 1.2rem;
  padding: 1rem;
  border: solid 0.1rem hsl(229, 24%, 87%);
  border-radius: 0.6rem;
}
.formContainer form .formContainer_stepThree .formContainer_stepThree__options .formContainer_stepThree__desc label {
  margin: 0;
  font-size: 1.2rem;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}
.formContainer form .formContainer_stepThree .formContainer_stepThree__options .formContainer_stepThree__desc p {
  margin-block-start: 0.3rem;
  color: hsl(231, 11%, 63%);
  font-size: 1.2rem;
  font-weight: 300;
}
.formContainer form .formContainer_stepThree .formContainer_stepThree__options span {
  color: hsl(243, 100%, 62%);
  font-weight: bold;
  font-size: 1.2rem;
}
.formContainer form .formContainer__details {
  display: none;
}
.formContainer form .formContainer__details .details {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: hsl(217, 100%, 97%);
  border-radius: 0.5rem;
}
.formContainer form .formContainer__details .details article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.formContainer form .formContainer__details .details article div {
  margin-bottom: 1.4rem;
}
.formContainer form .formContainer__details .details article div h3 {
  margin: 0;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}
.formContainer form .formContainer__details .details article div a {
  color: hsl(231, 11%, 63%);
}
.formContainer form .formContainer__details .details article h3 {
  color: hsl(231, 11%, 63%);
  font-weight: 300;
}
.formContainer form .formContainer__details .details article span {
  font-weight: 500;
}
.formContainer form .formContainer__details .line {
  width: 100%;
  border-top: solid 0.1rem hsl(231, 11%, 63%);
}
.formContainer form .formContainer__details .total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 2rem;
}
.formContainer form .formContainer__details .total p {
  color: hsl(231, 11%, 63%);
  font-size: 1.2rem;
}
.formContainer form .formContainer__details .total span {
  color: hsl(243, 100%, 62%);
  font-weight: bold;
  font-size: 1.2rem;
}
.formContainer form .formContainer__confirmation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer form .formContainer__confirmation div img {
  width: 10rem;
  margin-block-start: 4rem;
}
.formContainer form .formContainer__confirmation div h2 {
  font-size: 1.6rem;
}
.formContainer form .formContainer__confirmation div p {
  font-size: 1.2rem;
  font-weight: 300;
  color: hsl(231, 11%, 63%);
  text-align: center;
}
.formContainer .formInfo1 h2 {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  font-size: 1.6rem;
}
.formContainer .formInfo1 p {
  font-size: 1.2rem;
  color: hsl(231, 11%, 63%);
}

.controls {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  padding: 1.6rem;
  background-color: hsl(0, 0%, 100%);
}
.controls button {
  margin-inline-end: 2.6rem;
  padding: 0.7rem 1rem;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */