// colors
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);

$textCoolGray: hsl(231, 11%, 63%);
$textLightGray: hsl(229, 24%, 87%);
$textMagnolia: hsl(217, 100%, 97%);
$textAlabaster: hsl(231, 100%, 99%);
$textWhite: hsl(0, 0%, 100%);


//font 
$font-stack: 'Ubuntu', sans-serif;
$textsm:1.2rem;
$textmd:1.6rem;
$textlg:1.8rem;
$textxl:2.4rem;    
$textxxl:2.6rem;

body{
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: 62.5%;
    background-color: $lightBlue;
}
header{
    position: relative;
    width: 520px;
}
.steps{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    position: absolute;
    top: 1.8rem;
    left: calc(2rem + 2rem);
    // left: 4rem;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border: solid 1px $textWhite;
        border-radius: 100%;
        p{
            font-size: $textsm;
            color: $textWhite;
            font-weight: bold;
        }
    }
}
.formContainer{
    padding: 1rem;
    form{
        max-width: 42rem;
        padding: 1.6rem;
        background-color: $textWhite;
        border-radius: 1.2rem;
        .formInfo1{
            h2{
                color: $marineBlue;
                font-weight: bold;
                font-size: $textmd;
            }
            p{
                font-size: $textsm;
                color: $textCoolGray;
            }
        }
    }
    label{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-block-end: 1rem;
        span{
            font-size: 1rem;
        }
        input{
            padding: 0.5rem;
            height: 2rem;
            border-radius: 0.3rem;
            border: solid 0.1rem $textLightGray;
            color: $textCoolGray;
            font-weight: bold;
            font-size: $textsm;
            outline: none;
        }
    }
}
