// colors
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);

$textCoolGray: hsl(231, 11%, 63%);
$textLightGray: hsl(229, 24%, 87%);
$textMagnolia: hsl(217, 100%, 97%);
$textAlabaster: hsl(231, 100%, 99%);
$textWhite: hsl(0, 0%, 100%);


//font 
$font-stack: 'Ubuntu', sans-serif;
$textsm:1.2rem;
$textmd:1.6rem;
$textlg:1.8rem;
$textxl:2.4rem;    
$textxxl:2.6rem;

body{
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: 62.5%;
    background-color: $lightBlue;
}
header{
    position: relative;
    width: 520px;
}
input[type=radio]{
    opacity: 0;
}
.steps{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    position: absolute;
    top: 1.8rem;
    left: calc(2rem + 2rem);
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border: solid 1px $textWhite;
        border-radius: 100%;
        p{
            font-size: $textsm;
            color: $textWhite;
            font-weight: bold;
        }
    }
}
.formContainer{
    position: absolute;
    top: 5.2rem;
    left: 0;
    right: 0;
    padding: 1rem;
    form{
        min-width:2.8rem;
        max-width: 52rem;
        height: 44rem;
        min-height: 28rem;
        max-height: 58rem;
        padding: 1.6rem;
        margin-bottom: 8rem;
        background-color: $textWhite;
        border-radius: 1.2rem;
        .formContainer__stepOne{
            display: none;
        }
        label{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-block-end: 1rem;
            span{
                font-size: 1rem;
            }
            input{
                padding: 0.5rem;
                height: 2rem;
                border-radius: 0.3rem;
                border: solid 0.1rem $textLightGray;
                color: $textCoolGray;
                font-weight: bold;
                font-size: $textsm;
                outline: none;
            }
        }
        .formContainer__stepTwo{
            display: none;
            .formContainer__stepTwo__plan{
                display: flex;
                margin-block-end: 1.2rem;
                padding: 1rem;
                border: solid 0.1rem $textLightGray;
                border-radius: 0.6rem;
                cursor: pointer;
                .formContainer__stepTwo__plan--info{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: $textsm;
                        font-weight: bold;
                        color: $marineBlue;
                        margin-bottom: 0;
                    }
                    span{
                        display: block;
                        margin-bottom: 0.5rem;
                        color: $textLightGray;
                        font-weight: bold;
                        font-size: $textsm;
                    }
                    p{
                        margin: 0;
                        color: $marineBlue;
                    }
                }

            }

            .formContainer__stepTwo__check{
                display: flex;
                justify-content: center;
                gap: 1rem;
                background-color: $lightBlue;
                border-radius: 1rem;
                p{
                    color: $marineBlue;
                    font-weight: 500;
                }
                .switch {
                    font-size: 17px;
                    position: relative;
                    display: inline-block;
                    align-self: center;
                    margin-block-start: 0.8rem;
                    width: 3.5em;
                    height: 2em;
                  }
                  
                  /* Hide default HTML checkbox */
                  .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  
                  /* The slider */
                  .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgb(182, 182, 182);
                    transition: .4s;
                    border-radius: 10px;
                  }
                  
                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 1.4em;
                    width: 1.4em;
                    border-radius: 8px;
                    left: 0.3em;
                    bottom: 0.3em;
                    transform: rotate(270deg);
                    background-color: rgb(255, 255, 255);
                    transition: .4s;
                  }
                  
                  .switch input:checked + .slider {
                    background-color: $purplishBlue;
                  }
                  
                  .switch input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                  }
                  
                  .switch input:checked + .slider:before {
                    transform: translateX(1.5em);
                  }
            }
           
        }
        .formContainer__stepThree{
            .formContainer_stepThree__wrapper{
                
            }
        }
        .formContainer_stepThree__options{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            width: 90%;
            min-width: 12.8rem;
            max-width: 40rem;
            min-height: 2.6rem;
            margin-block-end: 1.2rem;
            padding: 1rem;
            border: solid 0.1rem $textLightGray;
            border-radius: 0.6rem;
            .formContainer_stepThree__desc{
                label{
                    margin: 0;
                    font-size: $textsm;
                    color: $marineBlue;
                    font-weight: bold;
                }
                p{
                    margin-block-start: 0.3rem;
                    color: $textCoolGray;
                    font-size: $textsm;
                    font-weight: 300;
                }
            }
            span{
                color: $purplishBlue;
                font-weight: bold;
                font-size: $textsm;
            }
        }
        
    }

    .formInfo1{
        h2{
            color: $marineBlue;
            font-weight: bold;
            font-size: $textmd;
        }
        p{
            font-size: $textsm;
            color: $textCoolGray;
        }
    }
   
}
.controls{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height:2.8rem;
    padding: 1.6rem;
    background-color: $textWhite;
    button{
        margin-inline-end: 2.6rem;
        padding: 0.7rem 1rem;
        background-color: $marineBlue;
        color: $textWhite;
        font-size: $textsm;
        border-radius: 0.5rem;
        font-weight: bold;
    }
}